.container
{
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

#canvas 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
}

#footer
{
  height: 10%;
  text-align: center;
}

#header
{
  width: 80%;
  height: 10%;
  margin:0 auto;
  text-align: center;
}